.container {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    padding-bottom: 3em;
    max-height: 100vh;
}

.restaurant {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-height: 600px;

    &__action {
        display: flex;
        flex-direction: column;
        gap: 1em 2em;

        button {
            width: 100%;
        }
    }

    @media screen and (min-width: 788px) {
        padding: 2em;
        flex-direction: row;
        align-items: start;
    }

    &__image {
        background-color: rgba(0, 0, 0, 20%);
        width: 100%;
        aspect-ratio: 16/18;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        @media screen and (min-width: 788px) {
            min-height: 400px;
            max-height: 600px;
        }
    }

    &__description {
        padding-inline: 1.5em;
        display: flex;
        flex-direction: column;
        row-gap: 3em;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 1em;

        @media screen and (min-width: 788px) {
            max-width: 800px;
        }
    }

    &__name {
        font-family: var(--font-montserrat);
        color: var(--color-text);
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    &__info {
        color: rgba(0, 0, 0, 50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-montserrat);
        font-size: 0.8em;
    }

    &__location {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
    }

    &__text {
        font-family: var(--font-montserrat);
        font-weight: 300;
        color: var(--color-text);
        line-height: 1.5em;

        @media screen and (min-width: 788px) {
            max-height: 300px;
            overflow-y: auto;
        }
    }
}

.availability {
    display: inline-block;
    margin-right: 0.5em;
    width: 12px;
    aspect-ratio: 1/1;
    border-radius: 100%;

    &--open {
        background-color: var(--color-lime);
    }

    &--close {
        background-color: var(--color-red);
    }
}

.reviews {
    max-height: 200px;
    overflow-y: auto;
}

.map {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: rgba(0, 0, 0, 20%);
}
